
body{
	font-family: 'Merriweather Sans', sans-serif;
}

h1{
	margin-top: 200px;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Acme', sans-serif;
}

a:hover{
	text-decoration: none;
}

input::-ms-input-placeholder{text-align: center;} 
input::-webkit-input-placeholder{text-align: center;}

.nav-btn{
	font-weight: bold;
	margin-right: 10px;
}

.navbar-header {
    position: absolute;
    text-align: center;
    width: 100%;
}

#logo{
	font-family: 'Acme',sans-serif;
	font-weight: bold;
	font-size: 2rem;
	color: #009CAD;
}

#name-search{
	margin:100px auto 22px;
	width:60%;
}

#advanced-search{
	display: none;
	margin:100px auto 20px;
	text-align: center;
}

.st-menu{
   height: 250px;
   overflow: auto;
}

.btn-cus{
	margin-right: 15px;
}

.btn-find{
	margin-left: 50px;
	font-weight: bold;
}

.mode-btn{
	display: inline;
	font-weight:bold; 
	text-align: auto;
	margin:50px 10px 50px;
}


#testimonials{
	background-color:#7D7D7D;
	text-align:center;
	line-height:1.5rem;
}

.carousel-item{
	padding:4rem 5rem 5rem;
}

.slide-title{
	font-weight:bold; 
	margin-bottom:15px; 
	color:#EDEDED;
	transition: all .5s ease-in-out;
}

.slide-title:hover{
	transform:scale(1.2);
}

.lyrics{
	color:#F2F2F2; 
	padding-top:15px;
}

#artist-img{
	width:150px;
	height:200px;
	border-radius:100%;
	margin:2% 0% 2% 0%;
	transition: all .5s ease-in-out;
}

#artist-img:hover{
	transform:scale(1.15)
}

.art-note{
	color:#F2F2F2; 
	font-size:1.25rem;
}
