

a:hover{
	text-decoration: none;
}

input::-ms-input-placeholder{text-align: center;} 
input::-webkit-input-placeholder{text-align: center;}

/*layout*/
.left-col{
	margin: 75px 20px 30px;
}
.right-col{
	margin: 75px 0 30px;
}
.main-img{
	width: 90%;
	height: 70%;
	margin-bottom: 30px;
}


/*rec-cards-sytle*/
.rec-card{
	margin:5px 0 5px; 
	background-color: #F5F5F5;
}
.rec-genre{
	margin: 5px 0 0 30px;
}
.card-img{
	margin:5px 30px 5px;
	width: 100px; 
	height: 100px;
}
.card-body{
	padding: 15px;
	line-height: 1.25rem;
}
.card-title{
	font-weight: bold;
	margin-bottom: 20px;
}
.card-bullets{
	margin-top: 20px;
}